__pycache__/
*.py[cod]
*.egg
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

local_settings.py

# Sphinx documentation
docs/_build/

venv/

api_test/
.idea/
arango-http-docs/
**/*.yaml
