[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
requests = "*"

[dev-packages]
pytest = "*"
hypothesis = "*"
pytest-aiohttp = "*"
"beautifulsoup4" = "*"
lxml = "*"
pyyaml = "*"
"html5lib" = "*"

[requires]
python_version = "3.6"
